<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IGameService" />
                <binding name="WSDualHttpBinding_IGameService1" />
                <binding name="WSDualHttpBinding_IGameService2" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/GameService/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameService"
                contract="ServiceReference1.IGameService" name="WSDualHttpBinding_IGameService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/GameService/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameService1"
                contract="ServiceReference2.IGameService" name="WSDualHttpBinding_IGameService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/GameService/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameService2"
                contract="GamrServiceRef.IGameService" name="WSDualHttpBinding_IGameService2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>